{% extends "main.html" %}

{% block title %} {{ registration.bitcoin_address }} {% endblock %}
{% block content %}
<section id="sponsors">
  <div class="container">
    <div class="row">
      {% if registration.forwarding_index %}
        <p class="big">
          Send bitcoin to: <code>{{ registration.bitcoin_address }}</code> <a href="https://www.blocktrail.com/BTC/address/{{ registration.bitcoin_address }}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> to enter the lotto. Any
            amount you send here will be forwarded to the lotto address, and if you win
          which the entire prize will be sent to your chosen address:
          <code>{{ details.win_address }}</code>
            <a href="https://www.blocktrail.com/BTC/address/{{ details.win_address }}" target="_blank">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        </p>
        <hr>

      {% else %}


      <div class="col-lg-8 col-lg-offset-2">


          <h1 class="text-center text-uppercase">Registration Details</h1>

        <hr>
        <p class="big"><b>Address:</b> <code>{{ registration.bitcoin_address }}</code> <a href="https://www.blocktrail.com/BTC/address/{{ registration.bitcoin_address }}" target="_blank">
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
        {% if details.nick %}
        <p class="big"><b>Nick:</b> {{ details.nick }}</p>
        {% endif %}
        <p class="big"><b>Win Address:</b> <code>{{ details.win_address }}</code>
          <a href="https://www.blocktrail.com/BTC/address/{{ details.win_address }}" target="_blank">
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
          <small class="help-block">(where prize will be sent if you won)</small></p>
          <br>

      </div>
      {% endif %}

    </div>
    <div class="row">
        <div class="col-lg-6">
          <div class="well" style="min-height: 480px;">
            <h2 class="text-center"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Proof</h2>
            <p class="text-muted">
              This provides proof that if this address wins, we are sending to the correct address. <p><a href="http://coinig.com/?adr={{ registration.bitcoin_address|uriEncode }}&amp;msg={{ registration.message|uriEncode }}&amp;sig={{ registration.signature|uriEncode }}" target="_blank">
                        3rd Party Verify <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                      </a></p>
            <p>
            <table class="table" style="word-break: break-word">
              <tbody>
                <tr>
                  <td class="wrap"><p class="thick">Address:</p><code>{{ registration.bitcoin_address }}</code></td>
                </tr>
                <tr>
                  <td class="wrap"><p class="thick">Message:</p><code>{{ registration.message }}</code></td>
                </tr>
                <tr>
                  <td class="wrap"><p class="thick">Signature:</p><code>{{ registration.signature }}</code></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="well" style="min-height: 480px;">
            {% if guarantee %}
            <h2 class="text-center"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Letter of Guarantee</h2>
            <p class="text-muted">This address is a forwarding address, generated by pevpot. In case of
            any dispute, please save (and verify) this binding letter of guarantee.
            <p>
            <a href="http://coinig.com/?adr={{ guarantee.address|uriEncode }}&amp;msg={{ guarantee.message|uriEncode }}&amp;sig={{ guarantee.signature|uriEncode }}" target="_blank">
                      3rd Party Verify <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </a></p>
            </p>
            <table class="table" style="word-break: break-word">
              <tbody>
                <tr>
                  <td class="wrap"><p class="thick">Message:</p><code>{{ guarantee.message }}</code></td>
                </tr>
                <tr>
                  <td class="wrap"><p class="thick">Signature:</p><code>{{ guarantee.signature }}</code></td>
                </tr>
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
